* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

/* Page Pne Styling */

.page-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
    /* background-color: grey; */
    background-image: url("../Assets/backgrounds/first.jpg");
    background-size: cover;
}

.mouse {
    margin-top: 30vh;
    margin-bottom: 5vh;
}

.welcome {
    font-size: xx-large;
}

.services {
    background-image: url('../Assets/backgrounds/s_image.jpg');
    background-size: cover;
}

.services {
    padding: 6.5rem;
}

#products,
#development,
#design {
    display: none;
}

.image-product img {
    width: 100%;

}

.what-we-do {
    padding: 1rem;
}

.bottom-page {
    background-image: url('../Assets/backgrounds/c_image.jpg');
    background-size: cover;
}

.form-control {
    border-radius: 0;
}

/* .form-control:hover:focus:focus-visible{
    outline: none !important;
    box-shadow: none !important;
    border-color: whitesmoke!important;
} */
.form-control:focus,
.form-control {
    color: #212529;

    border-color: white;
    outline: none;
    box-shadow: none;
}

.form-control::placeholder {
    color: white;
}

.imgIcons {
    margin: 0.3rem;
}

.blurry_effect {
    /* opacity: 0.4; */
    z-index: 1;
    filter: blur(1px);
}

.image-product p {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px #f8f8ff solid;
    font-weight: bolder;
    z-index: 2;
    padding: 2rem;
    color: #f8f8ff;
}


@media only screen and (max-width:600px) {
    .port {
        margin-bottom: 1rem;
    }
}

@media only screen and (min-width:580px) and (max-width:1200px) {
    .port p {
        padding: 0 !important;
        font-size: medium !important;
    }
}