* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Page Pne Styling */

.page-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
    /* background-color: grey; */
    background-image: url("../Assets/backgrounds/first.jpg");
    background-size: cover;
}

.mouse {
    margin-top: 30vh;
    margin-bottom: 5vh;
}

.welcome {
    font-size: xx-large;
}

.desc {}

.services {
    background-image: url('../Assets/backgrounds/s_image.jpg');
    background-size: cover;
}

.services {
    padding: 6.5rem;
}

#products,
#development,
#design {
    display: none;
}

.image-product img {
    width: 100%;
}

.what-we-do {
    padding: 1rem;
}

.bottom-page {
    background-image: url('../Assets/backgrounds/c_image.jpg');
    background-size: cover;
}

.form-control {
    border-radius: 0;
}

.form-control::placeholder {
    color: white;
}

.imgIcons {
    margin: 0.3rem;
}